$bluecolor: #0c63f0;

#contact {
    display: flex;
    justify-content: center;
    background-color: white;

    .contact-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: Arial, sans-serif;

        form {
            border-radius: 8px;
            padding: 40px;
            min-width: 41vw;
            height: 29vh;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

            @media screen and (max-width: 1024px) and (min-width: 431px) {
                min-width: 65vw;
                height: 20vh;
            }

            @media screen and (max-width: 430px) {
                min-width: 68vw;
                height: 13vh;
            }

            input {
                padding: 12px 20px;
                width: 100%;
                line-height: 16px;
                margin: 10px 0;
            }

            .input-row {
                display: flex;
                flex-direction: column;
                margin-bottom: 5px;

                .error {
                    color: red;
                    font-size: 14px;
                    font-family: Arial, sans-serif;
                    visibility: hidden;
                }

                input {
                    padding: 10px;
                    font-size: 16px;
                }
            }

            .button-send {
                text-align: right;

                .btn {
                    font-size: 16px;
                    padding: 10px;
                    width: 120px;
                    background-image: linear-gradient(to right, #56CCF2, #2F80ED);
                    border-style: none;
                    color: white;
                }

                .btn:hover {
                    background-image: linear-gradient(to right, #00b09b, #96c93d);
                }
            }
        }

        .result {
            display: flex;
            flex-direction: row;
            gap: 10px;
            font-family: courier, arial, helvetica;
            font-size: 16px;
            font-weight: 600;
            max-width: 50vw;
            color: #2F80ED;

            @media screen and (max-width: 1024px) and (min-width: 431px) {
                max-width: 65vw;
            }

            @media screen and (max-width: 430px) {
                max-width: 65vw;
            }

            .image-city {
                width: 28vw;
                height: 35vh;
                text-align: center;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

                @media screen and (max-width: 1024px) and (min-width: 431px) {
                    width: 42vw;
                    height: 28vh;
                }

                @media screen and (max-width: 430px) {
                    width: 42vw;
                    height: 20vh;
                }
            }

            .infor {
                .icon-weather {
                    text-align: center;
                }
            }
        }
    }
}